*__pycache__/
*.pyo
*.pyd
*.pyc

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# ignore virtual environments
.env
.venv
env/
venv/
# ignore Pytorch models 
*.pt
*.pth
# ignore logs
*.log

# ignore temp excel files
*$*.xlsx

*.bin
*cache*/
kaggle.py

test.ipynb
test.sh

# stats.ipynb

models/